.outer-container {
    display: flex;
    min-height: 100%;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 640px) {
    .outer-container {
      aspect-ratio: 4 / 3;
    }
  }
  
  @media (min-width: 768px) {
    .outer-container {
      aspect-ratio: 2 / 1;
    }
  }
  
  .step-circle-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50rem;
    border-radius: 2rem;
    box-shadow:
      0 20px 25px -5px rgba(51, 51, 51, 0.1),
      0 10px 10px -5px rgba(82, 81, 81, 0.04);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff0e;
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .step-indicator-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; 
    gap: 0.75rem; 
    padding: 1.5rem 2rem 2rem 2rem; 
    box-sizing: border-box;
  }
  
  .step-content-default {
    position: relative;
    overflow: hidden;
  }
  
  .step-default {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .footer-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  
  .footer-nav {
    margin-top: 2.5rem;
    display: flex;
  }
  
  .footer-nav.spread {
    justify-content: space-between;
  }
  
  .footer-nav.end {
    justify-content: flex-end;
  }
  
  .back-button {
    transition: all 350ms;
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
    color: #a3a3a3;
    cursor: pointer;
  }
  
  .back-button:hover {
    color: #52525b;
  }
  
  .back-button.inactive {
    pointer-events: none;
    opacity: 0.5;
    color: #a3a3a3;
  } 
  
  .next-button {
    transition: all 350ms;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #9e89c7;
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.025em;
    padding: 0.375rem 0.875rem;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #644b83;
  }
  
  .next-button:active {
    background-color: #644b83;
  }
  
  .step-indicator {
    position: relative;
    cursor: pointer;
    outline: none;
  }
  
  .step-indicator-inner {
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-weight: 600;
    background-color: #9e89c7;
  }
  
  .active-dot {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 9999px;
    background-color: #fff;
  }
  
  .step-number {
    font-size: 0.875rem;
  }
  
  .step-connector {
    position: relative;
    height: 0.125rem;
    flex: 1;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: #52525b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.25rem; 
  }
  
  .step-connector-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  
  .check-icon {
    height: 1rem;
    width: 1rem;
    color: #fff;
  }
  

  

